

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: DarkSeaGreen;
}
div{
  padding: 10px;
}
h1 {
    margin: 10px;
    font-family: Helvetica;
}
h2 {
    font-style: italic;
}
h3 {
  margin-top: 120px;
	font-size:100%;
	font-weight: bold;
}
img{
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
p {
  font-style: normal;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #111;
}
input[type=text], select, textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

}
input[type=submit] {
  background-color: #333;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
html{
  box-sizing: border-box;
}
.header {
  padding-bottom: 20px;
  text-align: center;
  font-family: sans-serif;
}
.highlighted{
  background-color: yellow;
}
.navigation {
  position: fixed;
	top: 0;
	left: 0;
	width:100vw;
  height:auto;
  background-color: #333;

}
.navigation h1 {
	/* position: fixed; */
	text-transform: uppercase;
	margin: 10px;
	font-family: Helvetica;
	color: white;
	font-weight: bolder;
}
.navigation li{
  /* border:95px white; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: #333;
  float: left;
}
.navigation > ul > li {
  position: relative;
  display: inline;
  list-style: none;
}
.navigation .dropdown{
  position: absolute;
  top: 1em;
  right: 0;
  display: none;
}
.navigation a:hover + .dropdown{
  display: inline;
	z-index: 100;
}
.dropdown:hover{
  display: block;
	z-index: 100;
}
.navigation > ul.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.list{
	padding-top: 50px;
}
.list ol li{
	padding: 5px;
	margin: 35px;
	list-style-type: upper-roman;
}
/* .column{
	float: left;
	width: 50%;
	padding: 15px;
}
.row:after{
	content: "";
	display: table;
	clear: both; */
}
.user-contact information{
  margin-top: 80px;
}
.container{
  max-width: 960px;
  margin: 0 auto;
}
#greeting{
	background-color: black;
}
#blog-footer{
	background-color: gray;
}
.footer{
	padding: 10px;
	text-align: center;
}
.footer li{
  list-style-type: none;
  margin: 0;
  padding: 0;
	text-align: center;
  overflow: hidden;
  float: left;
}

/* {
  border: 1px solid black;
} */
